# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.CleanArch.Playground.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Workspaces\Practices\CleanArch.Playground\.idea\.idea.CleanArch.Playground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
